@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
}
:root {
	--main-color: #1e1b18;
	--background: #5191ea;
	--inputs: #879db7;
	--border: 0.1rem solid rgba(0, 0, 0, 0.1);
	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
    font-size: 2.5rem;
	margin-left: 3rem;
	padding: 2rem 4rem;
    z-index: 999;
}

.header .logo {
	color: rgb(190, 30, 30);
	font-size: 20rem;
    font-weight: bolder;
	margin-left: 1rem;
}

.home-header {
	background: url(../images/heroimage2.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.cart-btn {
	position: relative;
	cursor: pointer;
}
.cart-items {
	position: absolute;
	top: 120px;
	right: 210px;
	background: white;
	padding: 0 1px;
	border-radius: 10%;
	color: red;
}

/* ----- Start of contact Form ---------------- */
.contact .main .box-container .image{
	width: 40rem;
}

.contact{
	background-color: var(--background);
	padding: 3rem ;
	color: var(--background);

}
.contact .main{
	background-color: var(--main-color);
	padding:2rem 3rem 3rem 3rem;

}
.contact .main .box-container .form input{
	padding: .5rem 2rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
	background-color: var(--inputs);
}
.contact .main .box-container .form label{
	font-size: 2rem;
	font-weight: bold;
}
.contact .main .box-container .form textarea{

    height: 18rem;
    resize: none;
    width: 100%;
}
.contact .main .box-container .form{
	font-size: 2.5rem;
}

.contact .main .box-container{
	display: flex;
	gap: 2.5rem;
	justify-content: center;
	padding-top: 2rem;
	flex-wrap: wrap;
}

/* -------- End of Contact ------------- */


/* media querries */
@media (max-width: 1300px) {
	.home-header h3 {
		color: #fff;
		font-size: 5rem;
		position: absolute;
		left: 15.5%;
		top: 13%;
	}
}

    @media (max-width: 768px) {
	#menu-btn {
		display: initial;
		transition: 0.1s linear;
		margin-right: 0.5rem;
		font-size: 3rem;
	}
 /* -------- start of headings ---------------- */
}
 h5 {
	text-transform: capitalize;
	font-size: 1rem;
	margin-top: 1rem;
	letter-spacing: var(--mainSpacing);
	text-align: left;
  }
  
 h6 {
	margin-top: 0.7rem;
	font-size: 1.5rem;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
	text-align: left;
  }

 h4{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 0.7rem;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
  }

 h3 {
    color: #fff;
    position: absolute;
    left: 30%;
    top: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2.5rem;
	margin-left: 3rem;
	padding: 2rem 4rem;
    z-index: 999;
 }

 /* ---------- End of Headings ---------------- */

 /* -----------start of Weather Display-------------- */

.input{
	text-align: center;
	margin: 50px auto;
	max-height: 10px;
  }
  
  input[type="submit"]{
	padding: 15px 30px;
	background: #e7e7e7;
	border: none;
	border-radius: 1px;
	font-family: "Nunito",sans-serif;
	font-weight:bold;
	font-size: 20px;
  }
  
  .input input[type="text"]{
	width: 600px;
	height: 55px;
	padding: 5px 10px;
	background: #e7e7e7;
	border: none;
	border-radius: 1px;
	font-family: "Nunito",sans-serif;
	font-weight:bold;
	font-size: 20px;
  }
  
  .card{
	width: 50%;
	background: #8b8bb1;
	height: 5vh;
	margin: 10px auto;
	border-radius: 2px;
 }
  
  .close{
	float: right;
	margin-top: -2px;
	cursor: pointer;
	margin-right: 20px;
  }

  /* --------- end of weather display --------- */

/* --------------- Products ---------------- */

.products {
	padding-top: 0rem;
  }

  .products-center {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 0.5rem;
	grid-row-gap: 0rem;
	padding-top: 0rem;
  }
  .img-container {
	position: relative;
	overflow: hidden;
	  }
  .bag-btn {
	position: absolute;
	top: 70%;
	right: 0;
	border: none;
	text-transform: uppercase;
	padding: 0.5rem 0.75rem;
	letter-spacing: normal;
	font-weight: bold;
	transition: var(--mainTransition);
	transform: translateX(101%);
	cursor: pointer;
  }
  .bag-btn:hover {
	color: yellowgreen;
  }
  .fa-shopping-cart {
	margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
	transform: translateX(0);
  }
  .product-img {
	display: block;
	width: 100%;
	height: 34rem;
	min-height: 12rem;
	transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
	opacity: 0.5;
  }  
  
/* ---------------End of Products ---------------- */