@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
}
:root {
	--main-color: #1e1b18;
	--background: #5191ea;
	--inputs: #879db7;
	--border: 0.1rem solid rgba(0, 0, 0, 0.1);
	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* ------------ Start of cart ---------------- */
.cart-btn {
	position:absolute;
	cursor: pointer;
}

.cart-items {
	position: absolute;
	top: 120px;
	right: 25px;
	background: white;
	padding: 0 1px;
	border-radius: 10%;
	color: red;
}
/* ------------ End of cart ---------------- */

/* ----- Start of contact Form ---------------- */
.contact .main .box-container .image{
	width: 40rem;
}

.contact{
	background-color: var(--background);
	padding: 3rem ;
	color: var(--background);

}
.contact .main{
	background-color: var(--main-color);
	padding:2rem 3rem 3rem 3rem;

}
.contact .main .box-container .form input{
	padding: .5rem 2rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
	background-color: var(--inputs);
}
.contact .main .box-container .form label{
	font-size: 2rem;
	font-weight: bold;
}
.contact .main .box-container .form textarea{

    height: 18rem;
    resize: none;
    width: 100%;
}
.contact .main .box-container .form{
	font-size: 2.5rem;
}

.contact .main .box-container{
	display: flex;
	gap: 2.5rem;
	justify-content: center;
	padding-top: 2rem;
	flex-wrap: wrap;
}

/* -------- End of Contact ------------- */

/* -------- start of headings ---------------- */
 .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
    font-size: 2.5rem;
	margin-left: 3rem;
	padding: 2rem 4rem;
    z-index: 999;
}

.header .logo {
	text-align: center;
	color: rgb(190, 30, 30);
	font-size: 200px;
    font-weight: bolder;
	margin-left: 1rem;
	position: absolute;
	top:  100px;
	right: 40%;
}

.header .motto {
	text-align: center;
	color: rgb(237, 70, 70);
	font-size: 30px;
    font-weight: bolder;
	margin-left: 1rem;
	position: absolute;
	border-bottom: 2px solid black;
	top:  300px;
	right: 40%;
}

.home-header {
	background: url(../images/heroimage2.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

 h5 {
	text-transform: capitalize;
	font-size: 1rem;
	margin-top: 1rem;
	letter-spacing: var(--mainSpacing);
	color: #1e1b18;
	text-align: left;
  }
  
 h6 {
	margin-top: 0.7rem;
	font-size: 1.5rem;
	letter-spacing: var(--mainSpacing);
	color: black;
	text-align: left;
  }

 h4{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 0.7rem;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
  }

 h3 {
    color: #fff;
    position: absolute;
    left: 30%;
    top: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2.5rem;
	margin-left: 3rem;
	padding: 2rem 4rem;
    z-index: 999;
 }
 
 .header .navbar {
	position: absolute;
	color: #1e1b18;
	right: 20px;
	top: 150px;
	
 }

 /* ---------- End of Headings ---------------- */

/* --------------- Products ---------------- */

.products {
	padding-top: 0rem;
  }

  .products-center {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 0.5rem;
	grid-row-gap: 0rem;
	padding-top: 0rem;
  }
  .img-container {
	position: relative;
	overflow: hidden;
	  }
  .bag-btn {
	position: absolute;
	top: 70%;
	right: 0;
	border: none;
	text-transform: uppercase;
	padding: 0.5rem 0.75rem;
	letter-spacing: normal;
	font-weight: bold;
	transition: var(--mainTransition);
	transform: translateX(101%);
	cursor: pointer;
  }
  .bag-btn:hover {
	color: yellowgreen;
  }
  .fa-shopping-cart {
	margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
	transform: translateX(0);
  }
  .product-img {
	display: block;
	width: 100%;
	height: 34rem;
	min-height: 12rem;
	transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
	opacity: 0.5;
  }  
  
/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */
.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
	background: rgb(240, 157, 81, 0.5);
	z-index: 2;
	visibility: hidden;
  }
  .cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 3;
	background: rgb(231, 226, 221);
	padding: 1.5rem;
	transition: var(--mainTransition);
	transform: translateX(100%);
  }
  .showCart {
	transform: translateX(0);
  }
  .transparentBcg {
	visibility: visible;
  }
  @media screen and (min-width: 768px) {
	.cart {
	  width: 30vw;
	  min-width: 450px;
	}
  }
  
  .close-cart {
	font-size: 1.7rem;
	cursor: pointer;
  }
  .cart h2 {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin: 1.5rem 0;
  }
  .cart-item img {
	width: 75px;
	height: 75px;
  }
  .cart-item h4 {
	font-size: 0.85rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
	margin: 0.5rem 0;
	letter-spacing: var(--mainSpacing);
  }
  .item-amount {
	text-align: center;
  }
  .remove-item {
	color: grey;
	cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
	color: var(--primaryColor);
	cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
	margin-top: 2rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
  }
  .cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */
  /* --------------- weather dashboard ---------------- */

  @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap" );
		body,
		html {
			margin: 0;
			height: 100%;
			color: white;
			font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
		}

		.front {
			height: 100%;
		}

		.left-container {
			width: 100%;
			height: 100%;
		}


		.date-container {
			position: absolute;
			top: 25px;
			left: 35px;
		}

		.day {
			display: block;
			font-size: 60px;
			font-weight: 900;
		}

		.date {
			display: block;
			font-size: 30px;
			font-weight: 300;
		}

		.weather {
			position: absolute;
			left: 35px;
			bottom: 40px;
		}

		.degrees {
			display: block;
			font-size: 110px;
			font-weight: 900;
		}

		.desc {
			font-size: 30px;
		}
/* --------------- End of weather dashboard------------ */